html,body
{
  height:100%;
  margin:0;
  top:0;
  bottom:0;
}
.user-body
{
  display:flex;
}
.navigation
{
  flex:20%;
  margin:5% 3% 0% 3%;
  color:#FFFFFF;
  background-color:#1B4F72;
  height:100%;
}
.navigation a
{
  padding:10%;
  text-decoration:none;
  color:#FFFFFF;
}
.navigation a:hover
{
  text-decoration:none;
  color:#FFFFFF;
  font-weight: 500;
}
.active
{
  padding:4% 0% 0% 0%;
  background-color:#4F721B;
}
.document-body
{
  flex:80%;
  margin:3% 0%;
}
.add-item .flex-row, .edit-item .flex-row
{
  display:flex;
  margin:4%;
}
.flex-row
{
  display:flex;
}
.label-div
{
  flex:30%;
}
.label-div label
{
  padding:4%;
  font-weight:500;
}
.input-div
{
  flex:70%;
}
.add-food-items, .edit-food-items
{
  flex:60%;
}
.preview
{
  flex:40%;
}
.button-center
{
  margin:auto;
}
.preview-item
{
  margin:4% 4% 4% 8%;
}
.item
{
  margin:0%;
}
.user-image
{
  flex:5%;
}
.feedback
{
  flex:50%;
}
.username
{
  font-weight:500;
}
.timestamp
{
  flex:25%;
}
.flex-row-column
{
  flex:50%;
  display:flex;
}
.add-staff .flex-row
{
  margin:4% 0%;
}
.add-member
{
  text-align:center;
  margin:4% 0% 0% 0%;
}
.send-remark
{
  width:70%;
}
.submitremark
{
  text-align:center;
  margin:4% 0% 0% 0%;
}
.cm-div
{
  text-align:center;
}
.cm
{
  width:50%;
  margin:5% 25%;
}
.confirmmoderator
{
  text-align:center;
  margin:4% 0% 0% 0%;
}
.bottom
{
  bottom:0;
}
.add-item-error
{
  background-color:red;
  color:white;
  padding:2%;
}
.item-added
{
  background-color:green;
  color:white;
  padding:2%;
}
